__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.whl
*.so
.coverage
htmlcov/
.eggs/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
build/
dist/
.idea/
.vscode/
*.swp
*.swo
*.bak
.DS_Store
crash-*
fuzzing/crash-*
